.skills{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 3rem;
    margin: 2rem auto;
    padding: 3rem 20px;
    border-radius: 10px;
    background: var(--color-3);
    box-shadow: 0 0 2px;
}

@media (max-width:450px) {
    .skills{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}