.header {
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__right a{
  text-decoration: none;
  color: var(--color-5);
}

.header__right .MuiSvgIcon-root{
    cursor: pointer;
    color: var(--color-2);
}

.logo h3 {
  font-size: 18px;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  backdrop-filter: blur(10px);
}

.layer__show{
    display: block;
}
