@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
  box-sizing: border-box;
  transition: 0.2s;
  background: var(--color-5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s;
  user-select: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--color-5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

button {
  border: none;
  background: none;
}

input {
  outline: none;
  background: none;
}

:root {
  --color-1: #0a1929;
  --color-2: #ffffff;
  --color-3: #eef1f4;
  --color-4: #44a0fd;
  --color-5: #1a2027;
}

.dark {
  --color-1: var(--color-3);
  --color-2: var(--color-5);
  --color-3: var(--color-2);
  --color-5: var(--color-2);
}
